{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Central Bookings{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<!-- Navbar -->
		<nav>
			<p class="logo">Central Bookings</p>
			<ul>
				<a href="{% url 'activity_list' %}"><li>Activities</li></a>
				<a href="{% url 'organizer_list' %}"><li>Organizers</li></a>

				<!-- Login / Logout -->
				 {% if request.user.is_authenticated %}

				<form action="{% url 'logout' %}" method="post">
					{% csrf_token %}
					<button type="submit">Logout</button>
				</form>

				 <!-- <a href="/logout/" class="btn btn-success" type="submit">Logout</a> -->
				 {% else %}
				 <a href="{% url 'login' %}">Login</a>
				 <!-- <a href="/login/" class="btn btn-success" type="submit">Login</a> -->
				{% endif %}

			</ul>
		</nav>

		<!-- Main Content -->
		<main>
			<div class="container">
				{% block content %}
				<!-- Page-specific content will go here -->
				{% endblock %}
			</div>
		</main>

		{% comment %}
		<!-- Footer -->
		<footer>
			<div class="container">
				<p>&copy; {{ current_year|default:2024 }} My Django App. All rights reserved.</p>
			</div>
		</footer>
		{% endcomment %}
	</body>
</html>
